h1{
    color:rgb(246, 3, 3);
    font-size: 40px;
    text-align: center;
}

body{
    color: black;
    background-color: aquamarine;
}

p{
    font-size: 20px;
    color: black;
}

header{
    color: blueviolet;
    font-size: 35px;
    border-bottom: solid 2px rgb(166, 0, 255);
    margin: 0;
    padding: 20px;
}

.chama-texto{
    margin: 3%;
}