body{
    background-color: aqua;
    color: black;
}
header{
color:rgb(30, 98, 166);
font-size: 35px;
border-bottom: solid 2px rgb(6, 75, 160);
padding: 20px;
}
h1{
    color: black;
    text-size: 35px;
}
p{

}